/*Стиль ДАРК - табдицы для Табл - виджетов*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: 14px/1 "Open Sans", sans-serif;
    color: #555;
    background: #fafafa;
}
/* фиксированное верхнее меню*/



.topnav-wrapper {
    margin: 0 auto;

}

.top-logo {
    color: #ddd;
    font: bold 12px/160px "Crete Round", serif;
    padding-left: 10px;

}



.top-logo a:hover {
    color: #ddd;
}

.topnav-right {
    float: right;
}

.right-menu {
    margin: 0;
    overflow: hidden;
}

.right-menu li {
    float: left;
    list-style-type: none;
    margin: 0;
}

.right-menu li a {
    color: #B8B8B8;
    display: block;
    padding: 0.05em 0.75em;
    text-decoration: none;

}

.right-menu li a:hover {
    color: #fff;
    text-shadow: none;
}

.right-menu li span {
    font-size: 16px;
    line-height: 1.2;
}

.container {

    margin: 0 auto;
    padding: 25px 10px 0;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

.info {
    color: rgba(78, 78, 78, 0.8);
    width: 100%;
    margin: 40px auto;
    text-align: center;
    font-weight: 300;
}



/* Конец стилей демо-страницы */
/* Базовый контейнер табов */

.tabs {

    padding: 0px;
    margin: 0 auto;
}
/* Стили секций с содержанием */

.tabs > section {
    display: none;
    padding: 15px;
    background: #fff;

}


/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Прячем чекбоксы */

.tabs > input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */

.tabs > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding:0px 25px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border-width: 1px 1px 1px 1px;
    font-size: 18px;

}
/* Шрифт-иконки от Font Awesome в формате Unicode */

.tabs > label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

.tabs > label[for*="1"]:before {
    content: "\f200";
}

.tabs > label[for*="2"]:before {
    content: "\f080";
}

.tabs > label[for*="3"]:before {
    content: "\f201";
}

.tabs > label[for*="4"]:before {
    content: "\f13c";
}
/* Изменения стиля переключателей вкладок при наведении */

.tabs > label:hover {
    color: #888;
    cursor: pointer;
}
/* Стили для активной вкладки */

.tabs > input:checked + label {
    color: #555;
    /*  border-bottom: 1px solid #009933;
      border-top: 1px solid #fff;*/
    background:#F1F2FC;
}
/* Активация секций с помощью псевдокласса :checked */

#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2,
#tab3:checked ~ #content-tab3,
#tab4:checked ~ #content-tab4 {
    display: block;
}
/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
    .tabs > label {
        font-size: 0;
    }
    .tabs > label:before {
        margin: 0;
        font-size: 18px;
    }
}
/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/

@media screen and (max-width: 400px) {
    .tabs > label {
        padding: 15px;
    }
}
/*Мом дополнения к таблице */
.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    margin: 0px 0px 0px 0px;
}
.table_dark th {
    color: #EDB749;
    border-bottom: 1px solid #37B5A5;
    padding: 10px 10px;
    margin: 0px 0px 0px 0px;
}
.table_dark td {
    margin: 0px 0px 0px 0px;
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
}
.table_dark td:last-child {
    border-right: none;
}
