html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 1;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none; /* �������� ������������� � ������ */
    color:red;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;

}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font: 16px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #0ca3d2;
}
.container {
    margin: 5px auto;

}
.login {
    position: relative;
    margin: 20px auto 0 auto;
    padding: 20px 20px 20px 20px;
    width: 86%;
    height:280px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);

}
.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.login h1 {
    margin: -20px -20px 21px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}
.HEAD_QUAERE{
    line-height: 150px;
    text-shadow: #2e7ebd 0 1px 2px;	}
.btn{
    font-size:80px;
    width:150px;
    height:120px;
    line-height: 40px;
    box-shadow: 0px 2px 7px 1px #000000;

}

.bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
}
.bullet li {
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid #CADFCF;
    padding: 0.6em;
    border-radius: 4px;
    background: #FEFEFE;
    color: #231F20;
    font-family: "Trebuchet MS", "Lucida Sans";
    height:70px;
    font-size:26px;
    line-height: 30px;
}
.bullet li:before {
    position: absolute;
    top: -0.9em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 22px;
    font-weight: bold;
    color: green;
    background: #FEFEFE;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
}
.H1_QUAERE_POSITIVE h1{

    background:#BBF7AE;
}
.H1_QUAERE_NEGATIVE h1{

    background:#E1A7AB;
}
.SPEC_FINAL_MESSAGE{
    margin: 80px auto;
    font-size: 32px;
    line-height:1.4em;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.QNGT_CHILD{
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 8px;
    background:silver;
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    height: 80px;

    border-radius: 6px;
    border-color:black;
    box-shadow: 2px 2px 1px 1px darkred;
    font-size: 19px;
    line-height: 80px;
    font-family: Impact;

}
.QNGT_CHILD:hover {
    opacity: 0.6;
}